
body {
    background-color: #100624;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 2% 10px;
}

p {
    color: #dddddd;
    font-size: 18px;
}

img {
    margin: auto auto;
    width: 100%;
}

.center {
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    width: 90vmin;
    background-color: #563566;
    padding: 5px 10px;
}

.back {
    color: #ffffff;
    padding: 2.5% 2.5%;
    text-align: left;
    display: block;
}

.welcome {
    color: #ffffff;
    font-size: 15vmin;
    font-family: Roboto Slab;
    text-align: center;
    padding: 10px 5px 1px 5px;
    display: block;
    margin-bottom: 0;
}

.subtitle {
    color: #ffffff;
    font-size: 400%;
    text-align: center;
}

.bar {
    border-color: #b38b47;
    display: block;
    width: 95%;
}

.project-list {
    table-layout: fixed;
    width: 100%;
}

.project {
    text-align: left;
    width: 20%;
    height: 60cw;
    padding: 1% 1% 0.5% 1%;
    background-color: #875991;
}

.repo {
    margin: 0;
    padding: 0;
}

.project.empty {
    background-color: #875991;
}

.project-title {
    color: #ffffff;
    font-size: 600%;
    font-family: Roboto Slab;
    text-align: center;
    padding: 10px 5px 1px 5px;
    display: block;
    margin-bottom: 0;
}

.project-text {
    color: #dddddd;
    font-size: 18px;
    padding: 1px 2.5%;
    display: block;
    text-align: justify;
} 

.project-image {
    width: 70%;
    padding: 2px 15%;
    display: block;
}


.project-heading {
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
    padding: 1px 2.5%;
    display: block;
    text-align: left;
    text-decoration: underline;
}

.project-subheading {
    padding: 0 2.5%;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    display: block;
    text-align: left;
}

.project-video {
    top: 0;
    left: 0;
    aspect-ratio: 16/9;
    width: 70%;
    padding: 2px 15% 10vh 15%;
    border: none;
}


.border-style {
    border-color: #563566;
    border-width: 2px;
    border-style: solid;
}

.project-padding {
    padding: 0px 2.5%;
}

.project-list-container {
    margin: 2.5%;
    display: inline-block;
    width: 95%;
    background-color: #100624;
}

.project-list-item {
    padding: 2.5%;
    display: flex;
}

.project-list-item:hover {
    background-color: #322846;
}

.project-list-item-thumbnail {
    width: 30%;
    aspect-ratio: 1;
}

.project-list-information {
    padding-left: 2.5%;
    padding-right: 2.5%;

    width: 64%;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    background-color: #563566;
    white-space: normal;
    flex: 1;
}

.project-list-information-right {
    margin-left: 2.5%;
}

.project-list-information-left {
    margin-right: 2.5%;
}

.project-list-item-title {
    color: #dddddd;
    font-size: 150%;
    text-decoration: underline;
    display: block;
    text-align: left;
}

.project-list-item-text {
    color: #dddddd;
    font-size: 100%;
    display: block;
    text-align: justify;
}

