body {
    background-color: #222222;
    font-family: Consolas !important;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2% 10px;
    border-radius: 3px;
}

p {
    color: #dddddd;
    font-size: 1rem;
}

img {
    margin: auto auto;
    width: 40%;
    height: auto;
}

.landscape {
    display: none;
}

.portrait {
    display: none;
}

.projects-item-landscape {
    display: none;
}

.projects-item-portrait {
    display: none;
}

@media (orientation: landscape) {
    /* Main page styling. */
    .content {
        align-content: center;
        margin: 1vw auto;
        width: 100%;
        min-width: 90vh;
        max-width: 100vh;
        background-color: #000000;
    }

    .landscape {
        display: flex;
    }

    /* Header section styles. */
    .header {
        display: block;
        margin: 5% auto;
    }

    .header-title {
        color: #ffffff;
        font-size: 6rem;
        text-align: center;
        padding: 1% 0 0 0;
        margin: 0;
    }

    .header-tagline {
        text-align: center;
        font-size: 2rem;
        margin: 0;
    }

    /* About me styles. */
    .about-me {
        margin: auto 5%;
        display: flex;
    }

    .about-me-image {
        margin: 0 auto;
        width: 25%;
        aspect-ratio: 1;
        border-radius: 1%;
        display: block;
    }

    .about-me-description {
        padding: 0 0 0 5%;
        width: 90%;
        font-size: 1rem;
        text-align: justify;
    }

    /* Projects List styles */
    .projects-item-landscape {
        border-radius: 3px;
        margin: 2.5% 2.5%;
        padding: 2.5% 1.25%;
        background-color: #222222;
        text-align: left;
        display: flex;
    }

    .projects-title-landscape {
        color: #dddddd;
        font-size: 2rem;
        text-decoration: underline;
        display: flex;
        text-align: left;
    }

    .projects-text-landscape {
        width: 60%;
        vertical-align: top;
        margin: 0 1.25%;
        padding: 2.5%;
        border-radius: 3px;
        background-color: #000000;
    }

    .projects-title-landscape {
        text-align: left;
        margin: 0 auto;
        display: block;
    }

    .projects-item-landscape:hover {
        background-color: #bcfe58;
        transition: background-color 0.3s;
    }

    .projects-thumbnail-landscape {
        width: 30%;
        aspect-ratio: 1;
        border-radius: 3px;
        margin: 0 1.25%;
    }

    .projects-item-landscape:visited, .projects-item-landscape:link {
        text-decoration: none;
    }
}

@media (orientation: portrait) {
    /* Main page styling. */
    * {
        box-sizing: border-box;
    }

    .content {
        align-content: center;
        margin: 1vw auto;
        width: 100%;
        min-width: 90vw;
        max-width: 100vw;
        background-color: #000000;
    }

    .portrait {
        display: flex;
    }

    /* Header section styles. */
    .header {
        display: block;
        margin: 5% auto;
    }

    .header-title {
        margin: 3% auto;
        color: #ffffff;
        font-size: 5rem;
        text-align: center;
    }

    .header-tagline {
        margin: 3% auto;
        text-align: center;
        font-size: 3.5rem;
    }

    /* About me styles. */
    .about-me {
        display: block;
    }

    .about-me-image {
        margin: 5% auto 0% auto;
        width: 40%;
        aspect-ratio: 1;
        border-radius: 1%;
        display: block;
    }

    .about-me-description {
        padding: 5%;
        width: 90%;
        font-size: 1rem;
        text-align: left;
    }

    /* Projects List styles */
    .projects-item-portrait {
        border-radius: 3px;
        margin: 2.5% 2.5%;
        padding: 2.5% 1.25%;
        background-color: #222222;
        text-align: left;
        display: block;
    }

    .projects-title-portrait {
        color: #dddddd;
        font-size: 2rem;
        text-decoration: underline;
        display: block;
        text-align: left;
    }

    .projects-text-portrait {
        width: auto;
        vertical-align: top;
        margin: 0 2.5%;
        padding: 2.5%;
        border-radius: 3px;
        background-color: #000000;
    }

    .projects-title-portrait {
        background-color: #000000;
        text-align: center;
        margin: 0 auto;
        display: block;
    }

    .projects-item-portrait:hover {
        background-color: #bcfe58;
        transition: background-color 0.3s;
    }

    .projects-thumbnail-portrait {
        aspect-ratio: 1;
        border-radius: 3px;
        margin: 2.5% 2.5%;
        display: block;
        width: 95%;
    }

    .projects-item-portrait:visited, .projects-item-portrait:link {
        text-decoration: none;
    }
}


.center {
    margin: 0 auto;
}

.back {
    color: #ffffff;
    padding: 2.5% 2.5%;
    text-align: left;
    display: block;
}

.welcome {
    color: #ffffff;
    font-size: 3rem;
    font-family: Consolas;
    text-align: center;
}

.subtitle {
    color: #ffffff;
    font-size: 400%;
    text-align: center;
}

.bar {
    border-color: #bcfe58;
    background-color: #bcfe58;
    display: block;
    width: 95%;
    height: 5px;
    margin: 2.5%;
}


.project {
    text-align: left;
    width: 20%;
    height: 60cw;
    padding: 1% 1% 0.5% 1%;
    background-color: #875991;
}


.repo {
    margin: 0;
    padding: 0;
}

.project.empty {
    background-color: #875991;
}

.project-title {
    color: #ffffff;
    font-size: 4rem;
    font-family: Roboto Slab;
    text-align: center;
    padding: 10px 5px 1px 5px;
    display: block;
    margin-bottom: 0;
}

.project-text {
    color: #dddddd;
    font-size: 1rem;
    padding: 1px 20%;
    display: block;
    text-align: justify;
} 

.project-image {
    width: 60%;
    padding: 2px 20%;
    display: block;
}


.project-heading {
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
    padding: 1px 2.5%;
    display: block;
    text-align: left;
    text-decoration: underline;
}

.project-subheading {
    padding: 0 2.5%;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    display: block;
    text-align: left;
}

.project-video {
    top: 0;
    left: 0;
    aspect-ratio: 16/9;
    width: 60%;
    padding: 10px 20% 10px 20%;
    border: none;
}


.border-style {
    border-color: #bcfe58;
    border-width: 2px;
    border-style: solid;
}

.project-padding {
    padding: 0px 2.5%;
}

.project-list-item {
    padding: 2.5%;
    display: flex;
}

.project-list-item:hover {
    background-color: #322846;
    transition: background-color 0.3s;
}

.project-list-item-thumbnail {
    width: 30%;
    aspect-ratio: 1;
    border-radius: 3px;
}

.project-list-information {
    padding-left: 2.5%;
    padding-right: 2.5%;

    width: 64%;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    background-color: #563566;
    white-space: normal;
    flex: 1;
    border-radius: 3px;
}

.project-list-information-right {
    margin-left: 2.5%;
}

.project-list-information-left {
    margin-right: 2.5%;
}

.project-list-item-title {
    color: #dddddd;
    font-size: 150%;
    text-decoration: underline;
    display: flex;
    text-align: left;
    margin: 10px;
}

.project-list-container:visited, .project-list-container:link {
    text-decoration: none;
}

.repo-link {
    text-decoration: underline;
    text-align: center;
    display: block;
    color: #55c978;
    padding-bottom: 10px;
    font-size: 24px;
}

.repo-link:visited .repo-link:link {
    color: #dddddd;
    text-decoration: underline;
}

.inline-repo-link {
    text-decoration: underline;
    color: #55c978;
}

.inline-repo-link:visited .inline-repo-link:link {
    color: #dddddd;
    text-decoration: underline;
}


