body {
    background-color: #100624;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 2% 10px;
}

p {
    color: #dddddd;
    font-size: 18px;
    padding: 5px 2.5%;
    display: block;
    text-align: center;
}

a {
    color: #dddddd;
    font-size: 18px;
    padding: 5px 10px;
    display: block;
    text-align: center;
    text-decoration: underline;
}

img {
    margin: auto auto;
    width: 100%;
}

.center {
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    width: 50%;
    background-color: #563566;
    padding: 5px 10px;
}

.back {
    color: #ffffff;
    padding: 5px 10px;
    text-align: left;
    text-decoration: underline;
}

.welcome {
    color: #ffffff;
    font-size: 1000%;
    font-family: Roboto Slab;
    text-align: center;
    padding: 10px 5px 1px 5px;
    display: block;
    margin-bottom: 0;
}

.subtitle {
    color: #ffffff;
    font-size: 400%;
    text-align: center;
}

.bar {
    border-color: #b38b47;
    display: block;
    width: 95%;
}

.project-list {
    table-layout: fixed;
    width: 100%;
}

.project {
    text-align: left;
    width: 33%;
    height: auto;
    padding: 20px 20px 10px 20px;
    background-color: #875991;
    border-width: 20px;
    border-color: #875991;
    border-style: solid;
}

.project.empty {
    background-color: #875991;
}

.project-title {
    color: #ffffff;
    font-size: 600%;
    font-family: Roboto Slab;
    text-align: center;
    padding: 10px 5px 1px 5px;
    display: block;
    margin-bottom: 0;
}

.project-text {
    color: #dddddd;
    font-size: 18px;
    padding: 1px 2.5%;
    display: block;
    text-align: justify;
} 

.project-image {
    padding: 0px 2.5% 0px 2.5%;
}

.project-heading {
    color: #dddddd;
    font-size: 36px;
    font-weight: bold;
    padding: 1px 2.5%;
    display: block;
    text-align: left;
    text-decoration: underline;
}